
$aqua-dark: #0097a7;
$aqua-light: #00BCD4;
$red-light: #ef9a9a;
$red-dark: #b71c1c;
$black: #000000;
$white: #fff;
$success: #C5E1A5;

$terminal-border-h: #212121;
$terminal-border-v: #111111;
$terminal-shadow: #202020;